.left-banner{
    background-color: rgb(225, 235, 238);
    height: 100vh;
    text-align: -webkit-center;
}

img{
    max-width: 100%;
    max-height: auto;
}

.circle{
    position: relative;
    margin-top: 40px;
    border-radius: 50%;
    padding-top: 17vw;
    width: 17vw;
    height: auto;
    overflow: hidden;
    border: solid black 4px;
    background-size: cover;
}

.name{
    font-family: Poppins-Regular;
    padding-top: 14px;
}

.labels{
    text-align: left;
    padding-left: 37px;
}

form{
    margin: 0 !important;
}

.label{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 25px;
    border-radius: 9999px;
    padding-left: 30px;
    user-select: none;
    white-space: nowrap;
    margin: 20px 0px;
}

div.label:hover {
    background-color: rgb(173, 181, 184);
    cursor: pointer;
}

.right-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6990f2;
}

.wrapper{
    width: 430px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    /* user-select: none; */
}

.wrapper-header{
    color: #6990f2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form{
    height: 167px;
    display: flex;
    margin: 30px 0px !important;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990f2;
}

form :where(i, p){
    color: #6990f2
}

form i{
    font-size: 50px;
}

form p{
    font-size: 16px;
    margin-top: 15px;
}

section .row{
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i{
    font-size: 30px;
    color: #6990f2;
}

.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}

section .details span{
    font-size: 14px;
}

.progress-area .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.progress-area .progress{
    height: 100%;
    width: 0%;
    background: #6990f2;
    border-radius: inherit;
}

.uploaded-area{
    max-height: 150px;
    overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .content{
    display: flex;
    align-items: center;
}

.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
}

.success{
    color: rgb(55, 128, 0);
}

.hash{
    display: block;
    overflow: scroll;
    /* overflow-x: scroll; */
}

.hash-value{
    padding: 0px;
    margin-left: 14px;
    overflow: scroll;
}

@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 1162px;
    }
}