body {
    background: rgb(99, 39, 120)
}

.labels{
    text-align: left;

}

.label{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 25px;
    border-radius: 9999px;
    padding-left: 30px;
    user-select: none;
    white-space: nowrap;
    margin: 20px 0px;
}

div.label:hover {
    background-color: rgb(173, 181, 184);
    cursor: pointer;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 1162px;
    }
}