<div class="row">
    <div class="col-md-6 border-right">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="text-right">Profile</h4>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <label class="labels">Name:</label>
                    <div>{{this.username}}</div>
                </div><br>

            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <label class="labels">Identity Number:</label>
                    <div>{{this.identityNumber}}</div>
                </div><br>

            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label class="labels">Current Living Address:</label>
                    <div>{{this.address}}</div>
                </div><br>

                <div class="col-md-12">
                    <label class="labels">Postcode:</label>
                    <div>{{this.postCode}}</div>
                </div><br>
                <div class="col-md-12">
                    <label class="labels">State:</label>
                    <div>{{this.state}}</div>
                </div><br>
                <div class="col-md-12">
                    <label class="labels">Area:</label>
                    <div>{{this.area}}</div>
                </div><br>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label class="labels">Country:</label>
                    <div>{{this.country}}</div>
                </div><br>
                
            </div>
            <!-- <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Update Profile</button></div><br> -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center experience"><span><h4>Contact Information</h4></span></div><br>
            <div class="col-md-12"><label class="labels">Phone Number:</label>
                <div>{{this.mobileNumber}}</div>
            </div> <br>
            <div class="col-md-12">
                <label class="labels">Email Address:</label>
                <div>{{this.email}}</div>
            </div>
        </div>
    </div>
</div>